<div class="container">
<div class="row">
  <div class="col-xs-6 col-md-4 ">

<h1>WikiGOT</h1>
<p>Articles</p>

<% @articles.each do |article| %>
  <h3> <%= link_to article.title, article_path(article)%>  </h3>
  <p><%= article.content%> </p>


<% end %>
</div>
</div>
</div>
